.password-checker-container {
  text-align: center; /* Центрируем контейнер */
  width: 100%; /* Задаем ширину, чтобы использовать всю доступную ширину */
}

.password-checker-container h1 {
  margin-bottom: 20px; /* Добавляем отступ снизу для заголовка */
}

#passwordInput {
  margin-bottom: 10px; /* Добавляем отступ снизу для поля ввода */
}

.strength-indicator {
  display: flex;
  flex-direction: column; /* Элементы теперь будут располагаться вертикально */
  align-items: center; /* Центрируем элементы */
}

.indicator {
  margin: 5px 0; /* Добавляем вертикальные отступы между индикаторами */
}

.indicator > div {
  width: 100px; /* Увеличиваем ширину индикатора */
  height: 20px; /* Увеличиваем высоту индикатора */
  margin-bottom: 5px; /* Отступ между индикатором и текстом */
}
