.password-checker-container {
  text-align: center;
  width: 100%;
}

.password-checker-container h1 {
  margin-bottom: 20px;
}

#passwordInput {
  margin-bottom: 10px;
}

.strength-indicator {
  display: flex;
  width: 100%;
  justify-content: center;
}

.indicator {
  margin: 0 5px;
}

.indicator > div {
  width: 40px;
  height: 10px;
  margin-bottom: 5px;
}
